$base-color: #504e50c7;

* {
    margin: 0;
    padding: 0;
}

p {
    color: $base-color;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
  }

.pagewrapper {
    width: 100%;
    height: auto;
    
}
/* header */
.headshot {
    border-radius: 10%;
    box-shadow: 3px 3px rgba(27, 27, 27, 0.384);
}

.photo {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 3px solid $base-color;
    margin: 40px 150px 0px 150px;
}

.links li {
    padding: 10px;
    color: $base-color;
    margin: 3px;
    height: 8px;
    line-height: 8px;
    font-weight: bold;
       
}

.links a:link {
    color: $base-color;
    text-decoration: none;
}

.links a:hover {
    color: #4a8aa5;
}

.links a:visited {
    color: $base-color;
}

.header-subtext {
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 600px;
    margin: auto;
}
/* Main */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 150px 0px 150px;
}


.blockspace {
    width: 300px;
    height: 400px;
    background: #eeeeee;
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    margin: 5px;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px rgba(27, 27, 27, 0.384);
}

.blockspace p {
    font-size: 12px;
    padding: 0 2px 0 2px;
}

.blockspace1 {
    width: 400px;
    height: 400px;
    background: #b0d4e3;
    background: -moz-linear-gradient(top,  #b0d4e3 0%, #88bacf 100%);
    background: -webkit-linear-gradient(top,  #b0d4e3 0%,#88bacf 100%);
    background: linear-gradient(to bottom,  #b0d4e3 0%,#88bacf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 );
    margin: 5px;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px rgba(27, 27, 27, 0.384);
}

.blockspace1 img {
    height: 150px;
    width: auto;
    box-shadow: 3px 3px rgba(27, 27, 27, 0.384);
    border-radius: 10%;
}

.ex1 {
    color: #4db4e0;
    font-size: 20px;
}

.blockspace2 {
    width: 400px;
    height: 400px;
    background: #f1e767;
    background: -moz-linear-gradient(top,  #f1e767 0%, #feb645 100%);
    background: -webkit-linear-gradient(top,  #f1e767 0%,#feb645 100%);
    background: linear-gradient(to bottom,  #f1e767 0%,#feb645 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 );
    margin: 5px;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px rgba(27, 27, 27, 0.384);
}

.blockspace2 img {
    height: 150px;
    width: auto;
    box-shadow: 3px 3px rgba(27, 27, 27, 0.384);
    border-radius: 10%;
}

.ex2 {
    color: #dacd23;
    font-size: 20px;
}

.blockspace3 {
    width: 400px;
    height: 400px;
    background: #b5bdc8;
    background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%);
    background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
    background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );
    margin: 5px;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px rgba(27, 27, 27, 0.384);
}

.blockspace3 img {
    height: 150px;
    width: auto;
    box-shadow: 3px 3px rgba(27, 27, 27, 0.384);
    border-radius: 10%;
}

.ex3 {
    color: #3c4a5c;
    font-size: 20px;
}

.blockspace4 { 
    width: 400px;
    height: 400px;
    background: #fac695;
    background: -moz-linear-gradient(top,  #fac695 0%, #f5ab66 47%, #ef8d31 100%);
    background: -webkit-linear-gradient(top,  #fac695 0%,#f5ab66 47%,#ef8d31 100%);
    background: linear-gradient(to bottom,  #fac695 0%,#f5ab66 47%,#ef8d31 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 );
    margin: 5px;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px rgba(27, 27, 27, 0.384);
}

.blockspace4 img {
    height: 150px;
    width: auto;
    box-shadow: 3px 3px rgba(27, 27, 27, 0.384);
    border-radius: 10%;
}

.ex4 {
    color: #f1933a;
    font-size: 20px;
}

.rotate:hover
{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;    
}

.rotate2:hover
{
    -webkit-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;    
}


.work {
    display: flex;
    flex-direction: row;
}


.work i {
    color: $base-color;
}

h1 {
    color: $base-color;
}

.logolist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0px 20px 0px;
    
}

.logolist li {
    list-style-type: none;
}

.logolist i {
    color: $base-color;
    padding: 10px;
}

.logolist i:hover {
    color: #f1e767;
}
